*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}
.main_container{
    width: 200px;
    height: 400px;
    background: #333;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
