*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}
/* .main_container{
    width: 200px;
    height: 400px;
    background: #333;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
 .bulb_top{
    width: 120px;
    height: 120px;
    background: #ff0;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 30px rgba(255,255,0,0.7);
    transition: 0.3s;
}
.bulb_button{
    width: 60px;
    height: 30px;
    background: #717171;
    border-radius: 15px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
} */