body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #222;
    display: flex;
    justify-content: center;

}
.switch_container{
    width: 200px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.switch_cover{
    background-color: gray;
    height: 120px;
    width: 80px;
    box-shadow: 3px 3px 10px rgba(176, 176, 176, 0.2);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}
.screw{
    height: 5px;
    width: 5px;
    margin: auto;
    border: 2px solid #555;
    background-color: #888;
    border-radius: 50%;
    box-shadow: inset -2px -2px 5px rgba(0,0,0,0.2);
}
/* .switch{
    height: 54%;
    width: 54%;
    background-color: #333;
    background-color: rgb(184, 184, 184);
} */