*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}
.switch_container{
    width: 200px;
    height: 400px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.switch_cover{
    background-color: gray;
    height: 140px;
    width: 80px;
    box-shadow: 3px 3px 10px rgba(176, 176, 176, 0.2);
    justify-content: center;
    flex-direction: column;
    border-radius: 9px;
    padding: 7px;
}
.screw{
    height: 9px;
    width: 9px;
    margin: auto;
    border: 3px solid #555;
    background-color: #888;
    border-radius: 50%;
    box-shadow: inset -2px -2px 5px rgba(0,0,0,0.2);
}
.switch_button{
    height: 70px;
    width: 40px;
    background-color: #333;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: inset -3px -3px 10px rgba(0,0,0,0.5);
}